<h1>All Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <div>
      <div>
        <%= link_to task.title, task_path(id: task.id) %>
      </div>
    </div>
  <% end %>
</ul>

<%= link_to "create_task", tasks_new_path, class: "btn btn-blue", id: "test", data: { test: "test" } %>
